<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data" lang="en">
<head th:replace="fragments/headTag :: headTag">
<!-- REPLACE BEFORE COMMITTING -->
</head>

<body role="document">
	<div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE
		COMMITTING</div>

	<div class="container" role="main">
		<div class="starter-template">
			<h2>Owners</h2>
		</div>
		<div class="row">
			<div class="form-actions col-md-offset-3 col-sm-offset-2 pull-right">
				<a th:href="@{'/owners/new'}" href="ownerForm.html"
					class="btn btn-success">Add New Owner</a> <a
					th:href="@{'/owners/find'}" href="findOwners.html"
					class="btn btn-info">Back to Search</a>
			</div>
		</div>
		<div role="alert" th:if="${statusMessage}"
			th:class="'alert ' + ${statusMessageClass}?: 'alert-info'"
			th:text="${statusMessage}"></div>

		<br />
		<section>
			<div class="row">
				<div role="alert" th:if="${statusMessage}"
					th:class="'alert ' + ${statusMessageClass}?: 'alert-info'"
					th:text="${statusMessage}"></div>
				<table class="table table-striped">
					<thead class="thead-default">
						<tr>
							<th><a class="sorted" sd:pagination-sort="id">Id</a></th>
							<th><a class="sorted" sd:pagination-sort="firstName">First
									Name</a></th>
							<th><a class="sorted" sd:pagination-sort="lastName">Last
									Name</a></th>
							<th><a class="sorted" sd:pagination-sort="city">City</a></th>
							<th><a class="sorted" sd:pagination-sort="address">Address
							</a></th>
							<th>telephone</th>
							<th>Operation</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="row : ${page}">
							<th scope="row" th:text="${row.id}">1</th>
							<td th:text="${row.firstName}">first name</td>
							<td th:text="${row.lastName}">last name</td>
							<td th:text="${row.city}">city</td>
							<td th:text="${row.address}">address</td>
							<td th:text="${row.telephone}">telephone</td>
							<td>
								<div class="flex-btn-group-container">

									<a class="btn btn-success btn-sm"
										th:href="@{/owners/{ownerId}(ownerId=${row.id})}">
										<span class="fa fa-eye"></span> <span class="hidden-md-down">View</span>
									</a> &nbsp;

								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div sd:pagination-summary="">info</div>
				</div>
				<div class="col-sm-6">
					<nav class="pull-right">
						<ul class="pagination" sd:pagination="full">
							<!-- Pagination created by SpringDataDialect, this content is just for mockup -->
							<li class="disabled"><a href="#" aria-label="Previous"><span
									aria-hidden="true">&laquo;</span></a></li>
							<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</section>

	</div>

	<section th:replace="fragments/footer :: footer" class="footer">REPLACE
		BEFORE COMMITTING</section>
</body>

</html>
