<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data" lang="en">
<head th:replace="fragments/headTag :: headTag">
<!-- REPLACE BEFORE COMMITTING -->
</head>

<body role="document">
	<div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE
		COMMITTING</div>
	<div class="container" role="main">
		<div class="starter-template">
			<h2>Contributions</h2>
		</div>
		<div class="row">
				<form  action="contributions/search.html" th:object="${contribution}"
					th:action="@{/contributions/search}" method="get"
					class="form-horizontal" id="search-contribution-form">
					<table class="table table-striped">
						<tr>
							<td class="col-sm-1">
								<div class="control-group">
									<label class="control-label">Name</label>
								</div>
							</td>
							<td class="col-sm-2">
								<div class="controls">
									<input type="text" class="form-control" name="lastName"
										size="30" maxlength="100" />
								</div>
							</td>
							<td>
								<div class="form-actions pull-right">
									<button type="submit" class="btn btn-success"><span
							class="glyphicon glyphicon-search"></span>  Search</button>
									<a th:href="@{'/contributions/new'}" href="contributionForm.html"
										class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>  Add contribution</a>
								</div>
							</td>
						</tr>
					</table>
				</form>
		</div>
		<div role="alert" th:if="${statusMessage}"
			th:class="'alert ' + ${statusMessageClass}?: 'alert-info'"
			th:text="${statusMessage}"></div>
		<section>
			<div class="row">
				<div role="alert" th:if="${statusMessage}"
					th:class="'alert ' + ${statusMessageClass}?: 'alert-info'"
					th:text="${statusMessage}"></div>
				<table class="table table-striped">
					<thead class="thead-default">
						<tr>
							<th><a class="sorted" sd:pagination-sort="id">Id</a></th>
							<th><a class="sorted" sd:pagination-sort="name">
									Name</a></th>
							<th>Operation</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="row : ${page}">
							<th scope="row" th:text="${row.id}">1</th>
							<td th:text="${row.name}"> name</td>
							<td>
								<div class="flex-btn-group-container">

									<a class="btn btn-success btn-sm"
										th:href="@{/contributions/{contributionId}(contributionId=${row.id})}"> <span
										class="fa fa-eye"></span> <span class="hidden-md-down">View</span>
									</a> &nbsp;
									<a class="btn btn-success btn-sm"
										th:href="@{/contributions/{contributionId}/download(contributionId=${row.id})}"> <span
										class="fa fa-eye"></span> <span class="hidden-md-down">Download</span>
									</a> &nbsp;

								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div sd:pagination-summary="">info</div>
				</div>
				<div class="col-sm-6">
					<nav class="pull-right">
						<ul class="pagination" sd:pagination="full">
							<li class="disabled"><a href="#" aria-label="Previous"><span
									aria-hidden="true">&laquo;</span></a></li>
							<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</section>
	</div>
	<section th:replace="fragments/footer :: footer" class="footer">REPLACE
		BEFORE COMMITTING</section>
</body>

</html>
