<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sd="http://www.thymeleaf.org/spring-data" lang="en"
	layout:decorate="~{layouts/content}">
<head>
</head>
<body>
	<section layout:fragment="content">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
			<h1 class="h2">Owners</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<button class="btn btn-sm btn-outline-secondary">Share</button>
					<button class="btn btn-sm btn-outline-secondary">Export</button>
				</div>
				<button class="btn btn-sm btn-outline-secondary dropdown-toggle">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
						viewBox="0 0 24 24" fill="none" stroke="currentColor"
						stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
						class="feather feather-calendar">
							<rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
							<line x1="16" y1="2" x2="16" y2="6"></line>
							<line x1="8" y1="2" x2="8" y2="6"></line>
							<line x1="3" y1="10" x2="21" y2="10"></line></svg>
					This week
				</button>
			</div>
		</div>
			<form action="owners/search.html" th:object="${owner}"
				th:action="@{/owners/search}" method="get" 
				id="search-owner-form">
				<table class="table table-striped table-sm">
					<tr class="row">
						<td class="col-2">
							<div class="control-group">
							<span class="align-middle">Last Name</span>
							</div>
						</td>
						<td class="col-6">
								<input type="text" class="form-control" name="q"
									size="30" maxlength="100" />
						</td>
						<td class="col-4">
							<div class="form-actions pull-right">
								<button type="submit" class="btn btn-success btn-sm">
									<span class="glyphicon glyphicon-search"></span> Search
								</button>
								<a th:href="@{'/owners/new'}" href="ownerForm.html"
									class="btn btn-success btn-sm">Add Owner</a>
							</div>
						</td>
					</tr>
				</table>
			</form>
		<div role="alert" th:if="${statusMessage}"
			th:class="'alert ' + ${statusMessageClass}?: 'alert-info'"
			th:text="${statusMessage}"></div>
		<section>
			<div class="row">
				<div role="alert" th:if="${statusMessage}"
					th:class="'alert ' + ${statusMessageClass}?: 'alert-info'"
					th:text="${statusMessage}"></div>
				<table class="table table-striped">
					<thead class="thead-default">
						<tr>
							<th><a class="sorted" sd:pagination-sort="id">Id</a></th>
							<th><a class="sorted" sd:pagination-sort="firstName">First
									Name</a></th>
							<th><a class="sorted" sd:pagination-sort="lastName">Last
									Name</a></th>
							<th><a class="sorted" sd:pagination-sort="city">City</a></th>
							<th><a class="sorted" sd:pagination-sort="address">Address
							</a></th>
							<th>telephone</th>
							<th>Operation</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="row : ${page}">
							<th scope="row" th:text="${row.id}">1</th>
							<td th:text="${row.firstName}">first name</td>
							<td th:text="${row.lastName}">last name</td>
							<td th:text="${row.city}">city</td>
							<td th:text="${row.address}">address</td>
							<td th:text="${row.telephone}">telephone</td>
							<td>
								<div class="flex-btn-group-container">
									<a class="btn btn-success btn-sm"
										th:href="@{/owners/{ownerId}(ownerId=${row.id})}"> <span
										class="fa fa-eye"></span> <span class="hidden-md-down">View</span>
									</a> &nbsp;

								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div sd:pagination-summary="">info</div>
				</div>
				<div class="col-sm-6">
					<nav class="pull-right">
						<ul class="pagination" sd:pagination="full">
							<li class="disabled"><a href="#" aria-label="Previous"><span
									aria-hidden="true">&laquo;</span></a></li>
							<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</section>
	</section>
</body>


</html>
