<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	  lang="en">

	<head th:replace="fragments/headTag :: headTag"><!-- REPLACE BEFORE COMMITTING --></head>

	<body role="document">
		<div th:include="fragments/navBar" th:remove="tag">REPLACE BEFORE COMMITTING</div>

		<div class="container">
			<div role="alert" th:if="${statusMessage}" th:class="'alert ' + ${statusMessageClass}?: 'alert-info'" th:text="${statusMessage}"></div>

			<div class="starter-template">
				<h2>
					<span th:if="${contribution['new']}" th:remove="tag">New </span>Contribution
				</h2>
			</div>

			<table class="table table-striped">
				<tr>
					<th class="col-sm-1">Name</th>
					<td class="col-sm-2"><b th:text="${contribution.name}">[name]</b></td>
				</tr>
				<tr>
					<th class="col-sm-1">Brief</th>
					<td class="col-sm-2"><b th:text="${contribution.brief}">[brief]</b></td>
				</tr>
				<tr>
					<th>File Name</th>
					<td th:text="${{contribution.fileName}}">[file Name]</td>
				</tr>
			</table>

			<table class="table">
				<tr>
					<td class="col-sm-3">
						<b>Comment Info</b>
						<form class="form-horizontal" role="form" method="post" id="visit-form" action="/contributions/comments.html"
							th:action="@{/contributions/{contributionId}/comments(contributionId=${contribution.id})}" th:object="${comment}">
							<div th:replace="fragments/hiddenErrors :: hiddenErrors">REPLACE BEFORE COMMITTING</div>

							<table class="table table-striped">
								<tr th:classappend="${#fields.hasErrors('content')} ? 'has-error'">
									<td>
										<div class="control-group" th:classappend="${#fields.hasErrors('content')} ? 'error'">
											<label class="control-label">Comment</label>
										</div>
									</td>
									<td>
										<div class="controls">
											<input type="text" class="form-control" th:field="*{content}" />
											<label class="control-label" th:errors="*{content}">[error]</label>
										</div>
									</td>
								</tr>
								<tr>
									<td></td>
									<td>
										<div class="form-actions pull-right">
											<input type="hidden" name="contribution.id" th:value="${contribution.id}" />
											<input type="submit" class="btn btn-success" value="Add Comment" />
											<input type="button" class="btn btn-danger" value="Cancel" th:onclick="'window.location.href=\'' + @{|/contributions/${contribution.id}|} + '\''" />
										</div>
									</td>
								</tr>
							</table>
						</form>
					</td>
					<td class="col-sm-2">
						<b>Previous Comments</b>
						   <table class="table table-striped">
							<tr>
								<th>Comment</th>
								<th>Creator</th>
							</tr>
							<tr th:if="${!comment['new']}" th:each="comment : ${contribution.comments}">
								<td class="col-sm-1" th:text="${comment.content}">[content]</td>
								<td class="col-sm-1" th:text="${comment.createdBy}">[creator]</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

		</div>

		<table th:replace="fragments/footer :: footer" class="footer">REPLACE BEFORE COMMITTING</table>
	</body>

</html>
